:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* section,
div,
ol,
li,
button,
input,
span {
  outline: auto;
} */

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

svg {
  color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f7cb39;
  }
  button {
    background-color: #f9f9f9;
  }
  svg {
    color: #213547;
  }
}

.add-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

input[type="text"] {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  flex: 1;
  padding: 0.6em 1.2em;
}

ol {
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
  overflow: hidden; /* Hide overflow text */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  text-overflow: ellipsis; /* Add ellipsis (...) to overflow text */
}

.add-button,
.delete-button,
.move-button,
.edit-button {
  margin-left: 10px;
}

.add-button {
  background-color: #1cd77f;
}

.delete-button {
  background-color: #ff5e5e;
}

.move-button {
  background-color: #646cff;
}

.edit-button {
  background-color: #f7cb39;
}

.to-do-list-section {
  max-height: 100svh;
  overflow-y: auto;
}

.header-container {
  display: grid;
  grid-template-columns: 20fr 1fr 1fr;
  align-items: center;
  justify-items: end;
  margin-bottom: 20px;
}

.header-container :first-child {
  justify-self: start;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #e4e4e4;
}

.card-section {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card-header-icon-background {
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 25px;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  justify-content: space-between;
}
